<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bnp.wastekhanadonation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WasteKhanaDonation">
        <activity
            android:name=".UserdataActivity"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".History"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MyPin"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".About"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".FoodMap"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Receive"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Contact"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Signup"
            tools:ignore="Instantiatable" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBtAubRGSlTZanGLTPT3JrKWsRCFAXZzrE" />

        <activity
            android:name=".Logup"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Donate"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Landingpage"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>